body {
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 0 auto;
}
.container {
    background: url(../images/bg.png);
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
    min-height: 769px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20%s;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    min-height: 672px;
    height: 100%;
    gap: 40%;
    margin-top: -1%;
}
.logo-row>img {
    max-width: 102px;
}
.box {
    margin-top: 6%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.partner{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    max-width: 576px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5.71px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    padding: 1px;
}
.firm{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    max-width: 386px;
    width: 100%;
    color: #fff;
    max-height: 22px;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
}
.scroll-down{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: #fff;
    max-width: 120px;
    height: 15px;
    /* width: 100%; */
    text-transform: uppercase;
}
.logo {
    background-image: url(../images/Triangle.png);
    background-repeat: no-repeat;
    background-position: 63px;
    width: 79.53px;
    height: 18px;
}
.caption {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    max-width: 1440px;
    width: 100%;
    padding: 0;
    gap: 10%;
    margin-right: 7%;
    

}
.container-row {
    display: flex;
    flex: 1;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    min-height: 65px;
    max-height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
}
nav {
    display: flex;
    align-items: center;
    max-height: 63px;
    height: 100%;

}
.menu {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 20%;
    margin: 0;
    padding: 0;
    /* margin-top: 24px; */
    /* margin-left: -55%; */

}
.menu-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: #48555b;
    text-decoration: none;
    max-width: 61px;
}
.menu-link:hover {
    color: #00a4e5;
}
.main {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;

}
.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    max-width: 941px;
    width: 100%;
    max-height: 344px;
    height: 100%;
    margin: 0 auto;
    margin-top: 3%;
}
.second-header {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}
.second-header>a:hover {
    color:  #00a4e5;
}
hr {
    border: 2px solid #00a4e5;
    max-width: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5%;
}
.story-row{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    max-width: 405.08px;
    width: 100%;
    margin: 0;
}
.construct {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
    /* margin-top: 80px; */
    max-width: 406px;
    width: 100%;
    max-height: 81px;
    letter-spacing: 0.01em;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    max-width: 406px;
    width: 100%;
}
strong {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #16ace8;
}
.plans {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5%;
    /* margin: 0 auto;
    margin-left: 76.92px;
    margin-top: 92px;
    margin-bottom: 0; */
    height: 100%;
}
.story-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10%;
    max-width: 941px;
    width: 100%;
}
.advantage-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    width: 940px;
    margin-top: 131px;
    

}
.advantage{
    display: flex;
    flex-direction: column;
    max-width: 940px;
    width: 100%;
    min-height: 435px;
    height: 100%;
    margin: 0 auto;
}
.advantage-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.advantage-title a {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    max-width: 200px;
    margin-top: 0;
}
.advantage-title >a {
    color: #48555b;
}
.advantage-title>a:hover{
    color: #00a4e5;
}
.line-border{
    margin-left: 0%;
}
a {
    text-decoration: none;

}
.text-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    max-width: 405.4px;
    max-height: 38px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 0;
    margin-left: 13%;
}
.btn-item {
    display: flex;
    background-color: #00a4e5;
    outline: 1px solid #0290c9;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding: 2% 3%;
    white-space: nowrap;
    margin-top: 0;
}

.btn-item:hover {
    background-color: #fff;
    color:  #00a4e5;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.advantage-item-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 27px;
    margin-top: 72px;
    margin-bottom: 115px;

}
.advantage-item-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    border: 1px solid #E6E6E6;
    border-bottom: 1px solid #fff;
    max-width: 290px;
    min-height: 330px;
    height: 100%;
    box-sizing: border-box;

}
.advantage-item-logo{
    margin-top: 38px;
    margin-left: 23px;
    width: 65px;
    min-height: 75px;
    height: 100%;
}
.advantage-item-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    margin-top: 25px;
    padding-left: 23px;
    margin-bottom: 13px;
    min-height: 48px;
    height: 100%;
}
.advantage-item-desc{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    align-items: center;
    text-align: left;
    margin-top: 13px;
    margin-left: 23px;
}
.section {
    background: url(../images/bg1.png);
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    min-height: 499px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .offer {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 120px;
 }
 .section .btn-1 {
    max-width: 150px;
    white-space: nowrap;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    outline: 1px solid #0290c9;
    background-color: #00A4E5;
    border: none;
    margin: 0 auto;
    margin-top: 35px;
    padding: 11px 26px;
    box-sizing: border-box;
    cursor: pointer;
 }
 .btn-1:active {
    outline: 1px solid #0290c9;
    border: 1px solid #0290c9;
    background-color: #E6E6E6;
 }
 .holder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #171819;
    margin-top: -1px;
 }
 .news {
    margin-right: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
 }
  form {
    height: 40px;
  }
 .get-email {
    padding: 11px 98px 11px 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #48555b;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #979797;
    border-right: 1px solid #00a4e5;
    padding: 10px auto;
 }
 .sign-up {
    max-width: 150px;
    outline: 1px solid #0290c9;
    background-color: #00a4e5;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 0px 49.5px 0px 48.5px;
    min-height: 38px;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
 }
 .sign-up:active {
    outline: 1px solid #0290c9;
    border: 1px solid #0290c9;
    background-color: #E6E6E6;
 }
 .footer {
    background:  #141a20;
 }
 .wrapper-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
 }

 .box-company {
    display: flex;
    justify-content: space-evenly;
    gap: 71px;
    margin: 0 auto;
 }
 .container-item {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 34px;
    
}
.container-item-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 42px;
    box-sizing: border-box;
}
 .company {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #fff;
    margin: 0;
 }
 .logo-item {
    margin-top: 19px;
 }

 .copy {
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: #fff;
    max-width: 250px;
    margin-top: 15px;
 }
 .container-link {
    display: flex;
    align-items: flex-start;
    box-sizing: content-box;
    max-width: 76px;
    text-align: left;
 }
 .links {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-decoration: none;
    list-style: none;
 }
 .link-item>a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-align: left;
    white-space: nowrap;
 }
 .address>a {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: #fff;
    margin: 0;
 }
.link-logo {
    max-width: 12.04px;
}
.container-item-logo {
    display: flex;
    max-width: 87px ;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 71px;
    margin-left: 0;
}
.lead {
    background-color: #171819;
    min-height: 60px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 23px;
}
@media (min-width: 960px) and (max-width: 1600px) {
    .header .container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 1440px;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 25%;
    
     }
     .container .wrapper {
       max-width: 1440px;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       gap: 25%;
       margin-top: 4%;
       margin-bottom: 6%;
     }
     .box .partner {
        margin-top: 5%;
        font-size: 60px;
     }
     .header .container-row {
        max-width: 100%;
        max-height: 62px;
        flex-direction: column;
        flex: 1;
     }
     .advantage {
        max-width: 940px;
        width: 100%;
     }
     .advantage-item {
        max-width: 940px;
        width: 100%;
        display: flex;
     }
     .main .section{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 1440px;
        width: 100%;
     }
    }
    @media (max-width: 1280px) {
    .header .container {
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100vw;
        width: 100%;
        min-height: 100%;
        max-height: 100vh;
     }

    .header .caption {
        max-width: 1440px;
        width: 100%;
        min-height: 62px;
        flex: 1;
        }
    .header .menu {
        padding: 1%;
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        gap: 5%;
    }
    .story {
        max-width: 941px;
    }
    .story-row {
        max-width: 406px;
    }
    .advantage-item-row {
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 768px) and (max-width: 960px){
    .header .container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-width: 768px;
        max-width: 960px;
        max-height: 483px;
        min-height: 100%;
        display: flex;
        flex: 1;
        column-gap: 25%;
        justify-content: center;
        align-items: center;
}
    .container .wrapper {
        min-height: 480px;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    .wrapper .logo-row img {
        max-width: 85px;
        margin-top: 3%;
        margin-bottom: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        min-width: 100%;
        max-width: 400px;
        max-height: 300px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .box .partner {
        font-size: 32px;
        margin: 0;
    }
    .firm {
        font-size: 13px;
        margin: 0;
    }
    .caption {
        display: flex;
        justify-content: space-around;
        padding: 2%;
    }
    .caption .menu {
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        gap: 5%;
        flex-wrap: nowrap;
    }
    .story {
        margin: 1% 2%;
    }
    .story-header {
        gap: 2%;
    }
    .story-row {
        display: flex;
        flex-direction: column;
        gap: 1%;
    }
    .advantage-item {
        margin: 10% 1% 4%;
    }
    .advantage-item-row {
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1%;
        margin: 0 auto;
        }
        .advantage-item-container {
            min-height: 270px;
            height: 100%;
            box-sizing: border-box;
            max-width: 33.3%;
            /* width: 100%; */
        }
        .advantage-item-logo,
        .advantage-item-title,
        .advantage-item-desc {
            margin: 2%;
            padding: 1%;
        }
        .advantage-item-title {
            font-size: 16px;
        }
        .advantage-item-desc {
            font-size: 12px;
            
        }
        .main .section {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            min-width: 768px;
            max-width: 100%;
            min-height: 350px;
            max-height: 550;
            /* height: 100%; */
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: flex-start;
            gap: 10%;
        }
        .offer {
            font-size: 20px;
            max-width: 250px;
            max-height: 50px;
            height: 100%;
            display: flex;
            flex: 1;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 10%;
            margin-bottom: 2%;
            padding: 0;
            
        }
        .section .btn-1{
            display: flex;
            min-width: 60px;
            min-height: 30px;
            text-align: center;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 11px;
            white-space: nowrap;
            padding: 1%;
            margin-top: 0;
        }
        .holder {
            min-width: 768px;
        }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header {
        margin: 0 auto;
    }
    .header .container {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        min-width: 320px;
        max-width: 767px;
        min-height: 351px;
        /* max-height: 100%; */
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
}
    .container .wrapper {
        margin-top: -3%;
        min-width: 320px;
        max-height: 483px;
        min-height: 350px;
        /* height: 100%; */
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 5%;
        justify-content: space-around;
        align-items: center;
    }
    .wrapper .logo-row img {
        max-width: 60px;
        width: 100%;
        margin-top: 13%;
    }
    .box {
        min-width: 50%;
        max-width: 150px;
        max-height: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16%;
    }
    .box .partner {
        font-size: 24px;
    }
    .box .firm {
        font-size: 12px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .wrapper .scroll-down {
        font-size: 11px;
        letter-spacing: 0.1;
    }
    .container-row {
        max-width: 0 auto;
    }
    .container-row .caption{
        margin: 0 ;
        min-width: 320px;
        max-width: 100%;
    }
    .caption .menu {
        display: flex;
        font-size: 11px;
        gap: 5%;
        flex-wrap: wrap;
    }
    .main .story {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 320px;
        max-width: 100%;
        max-height: 100vh;
        /* min-height: 100vw; */
        column-gap: 5%;
        padding: 1%;
        box-sizing: border-box;
    }
    .story .second-header {
        max-height: 25px;
        margin-bottom: 0;
    }
    .story .second-header a {
        font-size: 16px;
    }
    .main .story-header {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-width: 320px;
        width: 100%;
        min-height: 100%;
        padding: 0;
        margin-top: 0;
    }
    .story .story-row {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 320px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .story-row .construct {
        font-size: 18px;
        min-width: 320px;
        width: 100%;
        text-align: center;
    }
    .story-row p {
        text-align: left;
        font-size: 11px;
    }
    .story .plans {
        min-width: 320px;
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1.5%;
    }
     .advantage-item {
        min-width: 320px;
        max-width: 100%;
        max-height: 100vh;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-evenly;
        align-items: center; 
        margin: 10% 0 5%;

    }
    .advantage-item .advantage-title {
        font-size: 16px;
        letter-spacing: 0.5;
    }
    .text-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        margin-bottom: 5%;
    }
    .line-border {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10%;
    }
    .btn-item {
        max-width: 80px;
        min-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
    }
    .advantage .advantage-item-row {
        min-width: 320px;
        width: 100%;
        display: flex;
        flex: 1;
        flex-wrap: nowrap;
        margin: 0;
        justify-content: baseline;
        gap: 0.1%;
        padding: 0;

    }
    .advantage-item-container {
        max-width: 33.3%;
        width: 100%;
        min-height: 200px;
        height: 100%;
        padding: 1%;
        box-sizing: border-box;
        align-items: flex-start;
        border: none;
        /* border: 1px solid #E6E6E6; */
        border-bottom: none;
    }
    .advantage-item-logo {
        margin: 2%;
    }
    .advantage-item-container .advantage-item-title {
        font-size: 12px;
        margin: 2%;
        padding-left: 0;
    }
    .advantage-item-desc {
        font-size: 11px;
        text-align: left;
        padding: 0;
        margin: 7% 0;
        overflow: hidden;
        opacity: 0;
    }
    .advantage-item-row .advantage-item-desc:hover {
        overflow: visible;
        opacity: 1;
    }
    .main .section {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        max-width: 767px;
        min-width: 100%;
        min-height: 200px;
        max-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 0;

        }
    .offer {
        font-size: 14px;
        max-width: 250px;
        max-height: 50px;
        height: 100%;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: -15%;
            
        }
    .section .btn-1{
        display: flex;
        min-width: 80px;
        max-width: 100px;
        align-items: center;
        justify-content: center;
        max-height: 20px;
        min-height: 15px;
        font-size: 11px;
        white-space: nowrap;
        margin-top: -1%;
        padding: 4%;
        }
    .main .holder {
        min-width: 320px;
        max-width: 767px;
        width: 100%;
        min-height: 20%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        gap: 0;
        }
    .holder .news {
        max-width: 20%;
        margin: 1%;
        font-size: 11px;
        }
    .form {
        margin: 0;
        padding: 0;
        min-width: 15%;
        max-width: 100%;
        max-height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .holder .get-email {
        min-width: 15%;
        max-width: 100%;
        margin-right: 0.1%;
        margin-top: 2%;
        margin-left: 10%;
        max-height: 30px;
        font-size: 11px;
        letter-spacing: 0;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    
        }
    .holder .sign-up {
        max-width: 10%;
        margin-left: 0;
        margin-right: 7%;
        max-height: 30px;
        min-height: 28px;
        font-size: 11px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin-top: 0.8%;
        padding-top: 0;
        box-sizing: border-box;
        }

}