/* body{
    position: absolute;
    left: 300px;
    top: 0px;
} */

.header{
    background-image: url(../images/bg.png);
    background-size: 1438px 769px;
    background-position: -1px 1px;
    width: 1440px;
    height: 768px;
    border: 1px solid #979797;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 1px;
    width: 101.63px;
    position: absolute;
    height: 23px;
    top: 41px;
    left: 669px;
    gap: 0.23px; 

}
.partner{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    position: absolute;
    width: 576px;
    height: 59px;
    left: 435px;
    top: 380px;
    padding-bottom: 1px;
    color: #fff;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: 5.71px;
    font-weight: 400;
    flex-wrap: nowrap;
    text-transform: uppercase;
    min-width: 100%;
}
.firm{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    width: 386px;
    height: 22px;
    position: absolute;
    top: 439px;
    left: 527.5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
}
.scroll-down{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: #fff;
    width: 120px;
    height: 15px;
    position: absolute;
    top: 682px;
    left: 660.5px;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;

}
