body {
    width: 100%;
    max-width: 1440px;
    overflow-x: hidden;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1440px;
    width: 100%;
    border: 1px solid #E6E6E6;
    margin: 0 auto;
}
.container {
    background: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 769px;
    height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 1440px;
    min-width: 320px;
    width: 100%;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    max-width: 1440px;
    width: 100vw;
    max-height: 670px;
    min-height: 100vh;
    margin: 0;
    gap: 0;
    /* margin-top: -1.5%; */
}
.logo-row>img {
    max-width: 102px;
}
.box {
    /* position: relative;
    top: -10%;
    left: 0; */
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    /* width: 100%; */
}
.partner{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    max-width: 576px;
    padding-bottom: 1px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 5.71px;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
}
.firm{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    max-width: 386px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}
.scroll-down{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 3.7px;
    color: #fff;
    max-width: 120px;
    height: 15px;
    /* width: 100%; */
    text-transform: uppercase;
}
.logo {
    background-image: url(../images/Triangle.png);
    background-repeat: no-repeat;
    background-position: 63px;
    width: 79.53px;
    height: 18px;
    /* margin: 1% 5%;
    margin-left: 3%; */
}
.caption {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    padding: 0;
    gap: 12%;
}
.container-row {
    display: flex;
    flex: 1;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    min-height: 65px;
    max-height: 100vh;
    margin-left: -1px;
    box-sizing: border-box;
    background-color: #fff;
}
nav {
    display: flex;
    align-items: center;
    max-height: 63px;
    height: 100%;

}
.menu {
    list-style: none;
    display: flex;
    align-items: baseline;
    gap: 39px;
    margin: 0;
    padding: 0;
    /* margin-top: 24px; */
    /* margin-left: 200px; */

}
.menu-link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    color: #48555b;
    text-decoration: none;
    max-width: 61px;
}
.menu-link:hover {
    color: #00a4e5;
}
.main {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;

}
.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 941px;
    width: 100%;
    max-height: 344px;
    margin: 0 auto;
    margin-top: 4%;
}
.second-header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    text-align: center;
    color: #48555b;
}
.second-header>a:hover {
    color:  #00a4e5;
}
hr {
    border: 2px solid #00a4e5;
    max-width: 50px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5%;
}
.story-row{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: left;
    max-width: 405.08px;
    width: 100%;
    margin: 0;
}
.construct {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #48555b;
    /* margin-top: 80px; */
    max-width: 406px;
    width: 100%;
    max-height: 81px;
    letter-spacing: 0.01em;
}
p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    max-width: 406px;
    width: 100%;
}
strong {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.01em;
    color: #16ace8;
}
.plans {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 5%;
    /* margin: 0 auto;
    margin-left: 76.92px;
    margin-top: 92px;
    margin-bottom: 0; */
    height: 100%;
}
.story-header {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 10%;
    max-width: 941px;
    width: 100%;
}
.advantage-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    width: 940px;
    margin-top: 131px;
    

}
.advantage{
    display: flex;
    flex-direction: column;
    max-width: 940px;
    width: 100%;
    min-height: 435px;
    height: 100%;
    margin: 0 auto;
}
.advantage-item {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.advantage-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    box-sizing: border-box;
    text-align: left;
    margin-right: 50%;
    white-space: nowrap;
    margin-top: 0;
}
.advantage-title >a {
    color: #48555b;
}
.advantage-title>a:hover{
    color: #00a4e5;
}
.line-border{
    margin-left: 0%;
}
a {
    text-decoration: none;

}
.text-item {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    max-width: 405.4px;
    max-height: 38px;
    text-decoration: none;
    text-align: left;
    margin-bottom: 0;
}
.btn-item {
    display: flex;
    background-color: #00a4e5;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    text-decoration: none;
    align-items: center;
    padding: 2% 3%;
    
    white-space: nowrap;
    margin-top: 0;
}

.btn-item:hover {
    background-color: #fff;
    color:  #00a4e5;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}
.advantage-item-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 auto;
    gap: 27px;
    margin-top: 72px;
    margin-bottom: 115px;

}
.advantage-item-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    border: 1px solid #E6E6E6;
    border-bottom: 1px solid #fff;
    max-width: 290px;
    min-height: 330px;
    height: 100%;
    box-sizing: border-box;

}
.advantage-item-logo{
    margin-top: 38px;
    margin-left: 23px;
    width: 65px;
    min-height: 75px;
    height: 100%;
}
.advantage-item-title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    margin-top: 25px;
    padding-left: 23px;
    margin-bottom: 13px;
    min-height: 48px;
    height: 100%;
}
.advantage-item-desc{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    align-items: center;
    text-align: left;
    margin-top: 13px;
    margin-left: 23px;
}
.section {
    background: url(../images/bg1.png);
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    min-height: 499px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
 .offer {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #48555b;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 120px;
 }
 .btn-row {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border: 1px solid #0290c9;
    background-color: #00A4E5;
    margin: 0 auto;
    margin-top: 35px;
    padding: 11px 26px;
 }
 .holder {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #171819;
    margin-top: -1px;
 }
 .news {
    margin-right: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
 }
  form {
    height: 40px;
  }
 .get-email {
    padding: 11px 98px 11px 16px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #48555b;
    height: 40px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #979797;
    border-right: 1px solid #00a4e5;
 }
 .sign-up {
    text-decoration: none;
    background-color: #00a4e5;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    padding: 10px 49.5px 10px 48.5px;
    height: 40px;
    box-sizing: border-box;
    margin: 0;
 }
 .footer {
    background:  #141a20;
 }
 .wrapper-box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
 }

 .box-company {
    display: flex;
    justify-content: space-evenly;
    gap: 71px;
    margin: 0 auto;
 }
 .container-item {
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    margin-left: -40px;
    gap: 34px;
    
}
.container-item-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 42px;
    box-sizing: border-box;
}
 .company {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-align: left;
    color: #fff;
    margin: 0;
 }
 .logo-item {
    margin-top: 19px;
 }

 .copy {
    font-family:"Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: #fff;
    max-width: 250px;
    margin-top: 15px;
 }
 .container-link {
    display: flex;
    align-items: flex-start;
    box-sizing: content-box;
    max-width: 76px;
    text-align: left;
 }
 .links {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-decoration: none;
    list-style: none;
 }
 .link-item>a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-align: left;
    white-space: nowrap;
 }
 .address>a {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
    color: #fff;
    margin: 0;
 }
.link-logo {
    max-width: 12.04px;
}
.container-item-logo {
    display: flex;
    max-width: 87px ;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 71px;
    margin-left: 0;
}
.lead {
    background-color: #171819;
    min-height: 60px;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-top: 22px;
    margin-bottom: 23px;
}
@media (max-width: 1280px) {
    .header .container {
        max-width: 1440px;
        max-height: 769px;
       
     }
     .container .wrapper {
       max-width: 1440px;
       max-height: 670px;
     }
     .box .partner {
        font-size: 48px;
     }
     .header .container-row {
        max-width: 1440px;
        max-height: 62px;
        flex-direction: column;
        flex: 1;
     }
     .advantage {
        max-width: 940px;
        width: 100%;
     }
     .advantage-item {
        max-width: 940px;
        width: 100%;
     }
    }
    @media (max-width: 1280px) {
    .header .container-row {
        max-width: 1440px;

        }
    .header .caption {
        max-width: 1440px;
        width: 100%;
        min-height: 62px;
        flex: 1;
        }
    .header .menu {
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    .story {
        max-width: 941px;
    }
    .story-row {
        max-width: 406px;
    }
}
@media (min-width: 480px) and (max-width: 800px){
    .story .story-row {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 406px;
        width: 100%;
    }
    .story .plans {
        display: flex;
        gap: 2%;
    }
    .main .second-header {
        font-size: 12px;
    }
}
@media (min-width: 480px) and (max-width: 800px) {
    .box .partner {
        font-size: 24px;
     }
     .story-row .construct {
        font-size: 16px;
     }
}
@media (min-width: 360px) and (max-width:480px) {
    .story {
        display: flex;
        flex-direction: column;
    }
    .story-header {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 406px;
    }
    .story .story-row {
        display: flex;
        flex: 1;
        flex-direction: column;
        min-width: 406px;
        justify-content: center;
        /* justify-content: center;
        align-items: center; */
        /* max-width: 406px;
        width: 100%;
        max-height: 214px;
        height: 100%;
        text-align: center; */
    }
    .story-row .construct {
        font-size: 12px;
        max-width: 406px;
        width: 100%;
        text-align: center;
    }
    .story-row p {
        text-align: justify;
    }
    .story .plans {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1%;
    }
    .advantage-item {
        max-width: 406px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        white-space: inherit;
    }
}